# Database
MONGODB_URI=mongodb+srv://mithunraj1590_db_user:Xz5aE5rLF6OAiQYI@cluster0.c5tdhxe.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Session
SESSION_SECRET=your-super-secret-session-key

# JWT
JWT_SECRET=your-jwt-secret-key

# Google OAuth
GOOGLE_CLIENT_ID=314626827662-mu8lvtrjp5heeufvod9r5mj9jm36hpef.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Email (for verification)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=mithunraj1590@gmail.com
EMAIL_PASS=qftv ywrn axvk jqhe
EMAIL_FROM=mithunraj1590@gmail.com



Xz5aE5rLF6OAiQYI
mithunraj1590_db_user